/*.responsive-image*/
.gallery-img{
    max-width: 100%;
}
.cell img{
    display: block;
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px){
  /*.grid*/
  .gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell{
    width: calc(50% - 2rem);
  }

}
@media screen and (min-width: 1000px) {
  .cell {
    width: calc((100% / 3) - 2rem);
  }
}
