/*--------------------------
MAIN STYLES
---------------------------*/
.main-header,
.nav{
  display: flex;
  flex-direction:column;
  margin-top: 0;
}


.main-header{
  position: fixed;
  width: 100%;
	margin: auto;
  bottom: 0;
  left: 0;
  padding-top: 0;
  margin-top: 1vh;
  padding-bottom: 4vh;
  background-color: rgba(255, 255, 255, 0.9);

}
a.site-logo{
  width: auto;
  align-self: center;
  white-space: nowrap;
}

h1 a.site-logo{
  margin-top: 0px;
}

.nav a {
  display: block;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
  padding: .1em;
  border-bottom: 1px solid #000;
}

.nav a:hover{
  color: #333;
  border-bottom-color:#333;
}
.nav li:last-child a{
  border-bottom: none;
}


/*--------------------------
MEDIA QUERIES
---------------------------*/
/*.nav{
  margin-top: 1.5em;
}*/

@media (min-width: 600px){
  .main-header{
    padding-top: 0;
    padding-bottom: 1vh;
    height: 160px;
    justify-content: flex-end;
  }
  .site-logo{
    width: auto;
  }
  .nav{
    margin-top: 0;
    flex-direction: row;
    justify-content: space-around;
  }
  .nav a{
    border-bottom: transparent;
    /*padding-bottom: 50px;*/
  }
}

@media (min-width: 1025px){
  .main-header{
    flex-direction: row;
    height: 100px;
    width: inherit;
    left: auto;
  }
  .site-logo {
    margin-right: auto;
      padding-left: 30px;
  }
  .nav {
    margin-top: 0;
    align-self: center;
  }
  .nav li {
    margin-left: .65em;
    margin-right: .65em;
  }
}
